@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&family=Playwrite+PT:wght@100..400&display=swap');

@keyframes header-icon {
    0%   {background-color:rgb(252, 236, 236); transform: rotate(0);}
    100% {background-color: rgb(250, 169, 169); transform: rotate(360deg);}
  }

#header-icon{
    
    animation-direction: alternate-reverse;
    transition: background 2s, padding 1s;
}

.header-buttom{
    
    padding: 1.2em;
    background-color: white;
    transition: background-color 2s, padding 1s ease-out ;
    cursor: pointer;
    
}


.header-buttom:hover {
    text-align: center;
    background-color: #f3c4c4;
    color: #000;
    transition: background-color 1s, padding 1s linear;
    padding-left: 2.5em;
    padding-right: 2.5em;
    
}

#header-icon:hover{
    border-radius: 50%;
    border-color: red;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    animation-name: header-icon;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: border 2s, padding 2s,  width 2s, height 4s;

}



header{
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    z-index: 6;
    box-shadow: 5px 5px 8px rgba(238, 8, 8, 0.1);
    font-family: "Playwrite PT", cursive;
    user-select: none;
    
  }

#logout{
    cursor: pointer;
}


.admin-buttom:hover{
    background-color: #f3c4c4;
}