.form-control:focus {
    border-color: #e60000;
    box-shadow: 0 0 0 0.1rem rgba(185, 28, 28, 0.25);
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem #c71711;
}


.btn{
    color: #e7e7e7;
    background-color: #d11f1f7e;
}

.btn:hover {
    color: #fff;
    background-color: #3f0505;
    border-color: #c71711; 
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }
  .grid-item {
    padding: 20px;
  }